<header>
    Projeto Trainee 2022.1

    <a href="/">
        <button>Home</button>
    </a>
    <a href="/about">
        <button>About</button>
    </a>
    <a href="/products/create">
        <button>Create Product</button>
    </a>
    <a href="/products">
        <button>List Products</button>
    </a>
</header>
