<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <title><%= typeof title === "undefined" ? "Projeto Trainee 2022.1" : title %></title>
    </head>
    <body>
        <div class="wrapper">
            <%- include("../partials/header") %>
            <main><%- body %></main>
            <%- include("../partials/footer") %>
        </div>
    </body>
</html>
